<head>
    <title>[내가 만드는 익명질문함] 코코로노오토</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="apple-touch-icon" href="/res/appicon.png" sizes="180x180" />
    <link rel="icon" href="/res/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/res/favix32.png" type="image/png" sizes="32x32" />
    <link rel="icon" href="/res/favix16.png" type="image/png" sizes="16x16" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta charset="utf-8" />
    <meta name="description" content="내가 만드는 나만의 익명질문함" />
    <meta name="keywords" content="질문,익명,트위터,askme,kkrnt,kkrn_t,시로데브,sirodev" />
    <meta property="og:title" content="Kokoronooto" />
    <meta property="og:url" content="https://ask.siro.dev" />
    <meta property="og:image" content="https://ask.siro.dev/res/acix512.png" />
    <meta name="og:description" content="내가 만드는 나만의 익명질문함" />
    <meta name="og:locale" content="ko_KR" />
    <meta name="og:site_name " content="SiroDev" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="ask.siro.dev" />
    <meta property="twitter:url" content="https://ask.siro.dev/" />
    <meta name="twitter:title" content="Kokoronooto" />
    <meta name="twitter:description" content="내가 만드는 나만의 익명질문함" />
    <meta name="twitter:image" content="https://ask.siro.dev/res/acix512.png" />
    <link rel="stylesheet" href="/res/global.css" />
    <script src="https://kit.fontawesome.com/bac0ffac93.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
</head>