<head>
    <title>[내가 만드는 익명질문함] 코코로노오토</title>
    <meta charset="utf-8" />
    <meta name="description" content="내가 만드는 나만의 익명질문함" />
    <meta name="keywords" content="질문,익명,트위터,askme,kkrnt,kkrn_t,시로데브,sirodev" />
    <meta property="og:title" content="Kokoronooto" />
    <meta property="og:url" content="https://ask.siro.dev" />
    <!-- <meta property="og:image" content="https://ask.siro.dev/favicon.ico" /> -->
    <meta name="og:description" content="내가 만드는 나만의 익명질문함" />
    <meta name="og:locale" content="ko_KR" />
    <meta name="og:site_name " content="SiroDev" />
</head>