<div id="navBack" style="display:none;" onclick="hideNav()"></div>
<nav id="leftNav" style="display:none;">
    <div class="navHead">
        <a class="headerBtn navClose" href="#" onclick="hideNav()">
            <div><i class="fas fa-times fa-2x"></i></div>
        </a>
        <div class="navName">메뉴</div>
    </div>
</nav>
<nav id="rightNav" style="display:none;">
    <div class="navHead">
        <a class="headerBtn navClose" href="#" onclick="hideNav()">
            <div><i class="fas fa-times fa-2x"></i></div>
        </a>
        <div class="navName">프로필</div>
    </div>
    ?{session.auth|
    <a class="navItem" href="/logout">
        <div><i class="fas fa-sign-out-alt"></i>로그아웃</div>
    </a>
    <a class="navItem" href="/profile/${user.url?me}">
        <div><i class="fas fa-user-circle"></i>내정보</div>
    </a>
    |
    <a class="navItem" href="/login">
        <div><i class="fas fa-sign-in-alt"></i>로그인</div>
    </a>
    }
</nav>