#profile {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-size: 100% 100%;
    border-radius: 20%;
    margin-right: 8px;
}

#username {
    display: inline-block;
    font-size: 20px;
}

#username a {
    font-size: 12px;
}

.username {
    background-color: #ddd;
    padding: 4px;
    border-radius: 10px;
    margin-top: 4px;
}

#link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    font-size: 20px;
}

#link a div {
    display: inline-block;
    padding: 4px;
    border-radius: 10px;
    background-color: #fdf
}

#link a div svg {
    margin-left: 4px;
    margin-right: 4px;
}

#profileTop {
    padding: 8px;
    border-radius: 20px;
    background-color: #ffa;
}

.questionBox {
    padding: 12px;
    border-radius: 20px;
    background-color: #ddd;
    margin-top: 8px;
}

.questionBox label {
    padding: 4px;
    display: inline-block;
}

.questionBox textarea, .questionBox input[type="text"], .questionBox input[type="submit"] {
    width: 100%;
    margin-top: 4px;
    padding: 4px;
    display: block;
    border-radius: 8px;
    border-width: 0;
    background-color: #eee;
}

.questionBox input[type="submit"] {
    font-size: 20px;
}

.checkLabel input {
    position: absolute;
    display: inline-block;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkBody {
    position: relative;
    display: inline-block;
    top: 2px;
    left: 0;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    background-color: #f77;
}

.checkLabel input:checked ~ .checkBody {
  background-color: #7f7;
}

.checkLabel input:disabled ~ .checkBody {
  background-color: #777;
}